body {
  background-color: #2F2E41;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 101px;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
  font-family: 'JetBrains Mono', monospace;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.page {
  width: 1092px;
  margin: 71px auto;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

h1 {
  font-family: 'JetBrains Mono', monospace;
  line-height: 40px;
  font-size: 36px;
  color: #FFFFFF;
  margin: 0px 0px 0px 77px;
}

span {
  color: #00BFA6;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
  font-size: 16px;
  line-height: 28px;
  margin: 59px 0px 0px 82px;
}

p span {
  font-weight: bold;
}

footer {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  border-top: 1px solid #00BFA6;
  width: 568px;
  padding-top: 27px;
  margin: 157px auto;
}

#padlock {
  position: fixed;
  left: 20px;
  bottom: 20px;
}
